body{
	color:#fff;
}
.menu-1{
	height: 70px;
	background: #97eb82;
}
#le{
	font: oblique bold 120% cursive;
	color: black;
}
.slider-1, .slider-2, .slider-3, .slider-4{
	height: 100vh;
	text-align: center;
}
.slider-1{
	background: #ffffff;
}
.slider-2{
	background: #ffffff;
}
.slider-3{
	background: #ffffff;
}
.slider-4{
	background: #ffffff;
}
.footer{
	background:#97eb82;
	color:#fff;
	text-align: center;
	padding: 10px;
}
/*contactanos*/
.contact_form{  
	width: 460px; 
	height: auto;
	margin: 65px auto;
	border-radius: 10px;  
	padding-top: 10px;
	padding-bottom: 20px;  
	background-color: #fbfbfb; 
	padding-left: 15px; 
  }
  
  
  input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #f7f1a0; 
	margin-top: 10px;  
	padding-left: 10px;
	margin-bottom: 20px; 
  }
  
  
  textarea{
	background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #f7f1a0; 
	margin-top: 10px;  
	padding-left: 10px;
	margin-bottom: 20px; 
	padding-top: 15px; 
  }
  
  
  label{
	display: block; 
	float: center;  
  }
  
  
  button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px;   
	margin-bottom: 20px; 
	margin-top: 10px;   
	text-transform: uppercase;
	background-color: #f7f1a0; 
	border-color: #f7f1a0; 
	border-style: solid; 
	border-radius: 10px;  
	width: 420px;   
	cursor: pointer;
  }
  
  
  button p{
	color: rgb(5, 0, 0); 
  }
  
  
  span{
	color: #080800; 
  }
  
  
  .aviso{
	font-size: 13px;  
	color: #0e0e0e;  
  }
  
  
  h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
  }
    
  h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
  }
  
  
  p{
	font-size: 14px; 
	color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #080000;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
  }
  /*fin de contactanos*/

/*Productos*/
  .j{
	height: 150px;
	width: 200px;
	
}
#nu{
top: -50px;
}
  /*fin productos*/

  /***********
          Buscador
***********/
.header_search
{
	margin-right: 65px;
}
.header_search_form
{
	display: block;
}
.search_input
{
	width: 450px;
	height: 39px;
	border: solid 1px #4a4a4a;
	border-radius: 20px;
	outline: none;
	text-align: center;
	font-size: 16px;
	color: #2e2e2e;
	font-weight: 300;
	box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_input:focus,
.search_input:hover
{
	border-color: #00b4cc;
	box-shadow: 0 0 1px 0px #03ffab inset, 0 0 1px 0px #03ffab;
}
.search_input::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #2e2e2e !important;
}
.search_input:-moz-placeholder
{
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #2e2e2e !important;
}
.search_input::-moz-placeholder
{
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #2e2e2e !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #2e2e2e !important;
}
.search_input::input-placeholder
{
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #2e2e2e !important;
}
.header_search_button
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 44px;
	height: 39px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

/****
fin

****/
/*******
  ventana emergente
*******/
.ventana{
    background: #e7ee80;
    width: 30%;
    color: black;
    font-family: fantasy;;
    font-size: 30px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 68%;
    top: 30%;
    display: none;

}
#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
}
.row {
    background-color:rgb(152, 230, 122);
}